@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

:root {
  --border-color: #0ef;
  --body-color: #081b29;
  --container-default-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  --large-font-size: 32px;
  --normal-font-size: 16px;
  --small-font-size: 12px;
  --tiny-font-size: 10px;

  --bolder-font-weight: 600;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, -1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}

.left-sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  padding: 10px;
}

.sb-header {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.sb-header >div {
  width: max-content;
}

.icon {
  font-size: var(--large-font-size) !important;
  margin: 10px;
}

.sb-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.input-box {
  position: relative;
  width: 450px;
  margin: 10px 0;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  color: var(--body-color);
  outline: none;
  font-size: var(--title-text-size);
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 0 10px;
  pointer-events: none;
  font-size: var(--small-font-size);
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateX(10px) translateY(-10px);
}

.sb-conversations {
  background-color: var(--container-color);
  border-radius: 20px;
  padding: 10px 5px;
  margin-top: 10px;
  flex: 1;
  overflow-y: scroll;
  box-shadow: var(--box-shadow);
}

.conversation-container {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 5px;
  gap: 5px;
  margin: 5px;
  border-radius: 20px;
  transition-duration: .5s;
}

.con-icon {
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--large-font-size);
  font-weight: var(--bolder-font-weight);
  height: 32px;
  width: 32px;
  padding: 2px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.con-title {
  grid-area: 1/2/2/4;
  font-weight: var(--bolder-font-weight);
  font-size: var(--normal-font-size);
}

.con-lastMessage {
  font-size: var(--small-font-size);
}

.con-timeStamp {
  justify-self: flex-end;
  font-size: var(--tiny-font-size);
}

.right-sidebar-container {
  flex: 0.7;
  padding: 10px;
  box-shadow: var(--box-shadow);
}